- show_whitespace_toggle = local_assigns.fetch(:show_whitespace_toggle, true)
- if diff_view == 'parallel'
  - fluid_layout true

- diff_files = safe_diff_files(diffs, diff_refs)

.content-block.oneline-block.files-changed
  .inline-parallel-buttons
    - if show_whitespace_toggle
      - if current_controller?(:commit)
        = commit_diff_whitespace_link(@project, @commit, class: 'hidden-xs')
      - elsif current_controller?(:merge_requests)
        = diff_merge_request_whitespace_link(@project, @merge_request, class: 'hidden-xs')
    .btn-group
      = inline_diff_btn
      = parallel_diff_btn
  = render 'projects/diffs/stats', diff_files: diff_files

- if diff_files.overflow?
  = render 'projects/diffs/warning', diff_files: diff_files

.files
  - diff_files.each_with_index do |diff_file, index|
    - diff_commit = commit_for_diff(diff_file)
    - blob = project.repository.blob_for_diff(diff_commit, diff_file)
    - next unless blob
    - blob.load_all_data!(project.repository) unless blob.only_display_raw?

    = render 'projects/diffs/file', i: index, project: project,
      diff_file: diff_file, diff_commit: diff_commit, blob: blob, diff_refs: diff_refs
